.visible {
	background-position: -16px -50px;

	&_1 {
		background-position: 1px -67px;
	}
	&_2 {
		background-position: -16px -67px;
	}
	&_3 {
		background-position: -33px -67px;
	}
	&_4 {
		background-position: -50px -67px;
	}
	&_5 {
		background-position: -67px -67px;
	}
	&_6 {
		background-position: -84px -67px;
	}
	&_7 {
		background-position: -101px -67px;
	}
	&_8 {
		background-position: -118px -67px;
	}
}

.flagged {
	background-position: -33px -50px;
}

.doubted {
	background-position: -50px -50px;
}

.bomb {
	background-position: -101px -50px;

	&_uncovered {
		background-position: -84px -50px;
	}

	&_cleared {
		background-position: -118px -50px;
	}
}
